/*
  Carlos Servín review
*/

.div1{
  height: 100px;
  background-color: #000;
  color: #FFF;
}
.div2{ height: 400px;}
.div3{  height: 100px;
  background-color: #000;
  color: #FFF;
 }
.div4{ }
.div5{ }
