/*
  Carlos Servín review
*/

.div1{
  height: 100px;
  background-color: #000;
  color: #FFF;
}
.div2{ height: 400px;}
.div3{  height: 100px;
  background-color: #000;
  color: #FFF;
 }
.inner{ padding: 10px 400px 400px 10px; }
.div5{ }
